---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
---

<main class="grid lg:grid-cols-2 justify-between items-center pt-16 pb-8 md:pt-8">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage}
      alt="Astronaut in the air"
      loading="eager"
      format="avif"
      class="w-full"
    />
  </div>
  <div>
    <p class="uppercase tracking-wider font-medium mb-4 text-slate-500">
        Perth's WordPress Expert
      </p>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-medium lg:tracking-tight">
      Elevating <span class="text-primary">your</span><br /> digital presence
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-lg">
        I’m Joe, an independent web designer / developer specialising in creating visually stunning, easy-to-manage websites for that work for you, not the other way around.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        rel="noopener">Get in touch</Link
      >
    </div>
  </div>
</main>
