---
// @ts-ignore
import { Image } from "@astrojs/image/components";
import physiogotherapy from "assets/physigotherapy-logo.jpeg";
import ecu from "assets/ecu-logo.png";
import uwa from "assets/uwa-logo.png";
---

<div class="mb-24 text-center">
  <!-- <p class="uppercase tracking-wider font-medium mb-4 text-primary">
    Impact-driven websites for Perth locals
  </p> -->
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Organisations I've helped
  </h2>
  <p class="max-w-lg mx-auto mt-4 text-slate-600">I can't help with your golf swing, but I can guarantee a website that will be a hole in one! Just ask some of the great clients I've had the opportunity to work with.</p>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
      <Image
      src={ecu}
      alt="Edith Cowen University logo"
      loading="eager"
      format="avif"
      class="object-contain h-16 w-fit"
      />
      <Image
      src={uwa}
      alt="University of Western Australia logo"
      loading="eager"
      format="avif"
      class="object-contain h-16 w-fit"
      />
      <Image
      src={physiogotherapy}
      alt="PhysiGoTherapy logo"
      loading="eager"
      format="avif"
      class="object-contain h-16 w-fit"
    />
    </div>
</div>
